@mixin resp($min, $max) {
    @media screen and (min-width: $min + 'px') and (max-width: $max + 'px') {
        @content
    }
}

img {
    max-width: 100%;
}
html,
body {
    font-size: 24px;
    @include resp(0, 1170){
        font-size: 20px;
    }
    @include resp(0, 960){
        font-size: 16px;
    }
}