.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &__container {
        @include wrapper();
        @include size-lg(10);
        @include size-md(11);
        @include size-sm(12);

        padding-right: 0;
        padding-left: 0;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;

        @include resp(0, 960) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @include resp(1170, 9999) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &:before {
        content: '';
        position: absolute;
        height: 515px;
        width: 220px;
        left: 0px;
        top: 10%;
        background-image: url(../../img/leftBg.png);
        background-repeat: no-repeat;
        background-size: contain;

        @include resp(0, 1650) {
            display: none;
        }
    }

    &:after {
        content: '';
        position: absolute;
        height: 515px;
        width: 220px;
        right: 0px;
        top: 50%;
        background-image: url(../../img/rightBg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;

        @include resp(0, 1650) {
            display: none;
        }
    }
}