.mainDisplay {
    background-image: url(../img/bg_main.svg);
    height: 38vw;
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: 30% 35%;
    min-height: 590px;
    @include resp(0, 1170) {
        background-size: cover;
    }
    &__content {
        @include wrapper();
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        position: relative;
    }
    &__head {
        width: 385px;
        @include col();
        margin-bottom: 15px;
        position: relative;
        z-index: 3;
        max-width: 100%;
    }
    &__body {
        width: 385px;
        @include col();
        margin-top: 15px;
        position: relative;
        z-index: 3;
        @include size-lg(7);
        @include size-md(9);
        @include size-sm(11);
        @include size-xs(12);
    }
    &__persons {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 90%;
        z-index: 2;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        @include resp(0, 1170) {
            bottom: -5px;
        }
        @include resp(0, 960) {
            display: none;
        }
    }
    &__contact {
        position: absolute;
        z-index: 3;
        bottom: 50px;
        &._left{
            left: 0;
            transform: translate(-100%, 0);
            @include resp(0,1600){
                transform: translate(100%, 0);
            }
            @include resp(0, 960) {
                transform: none;
            }
        }
        &._right{
            right: 0;
            transform: translate(100%, 0);
            @include resp(0,1600){
                transform: translate(-100%, 0);
            }
            @include resp(0, 960) {
                transform: none;
            }
        }
        @include resp(0, 960) {
            display: none;
            transform: none;
            position: relative;
            bottom: initial;
        }
    }
}