.miniContact {
    &__name {
        font-family: "LatoMedium";
        font-size: .75rem;
        margin-bottom: 15px;
        @include resp(0,1600){
            color: #fff;
        }
    }
    &._onLinghtBg {
        color: #fff;
    }
    &._onDarkBg {
        color: #141417;
    }
    &__socials{
        @include row-flex();
    }
    &__social{
        @include col();
        text-decoration: none;
        transition: .3s;
        &:hover {
            margin-top: -3px;
            margin-bottom: 3px;
        }
    }
}