.popup {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    display: none;;

    &__content {
        @include wrapper;
        position: absolute;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        margin-bottom: 5%;
        box-sizing: border-box;
        min-height: 100vh;
    }

    &__close {
        color: #7f8389;
        font-size: 1.25rem;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .6;
    }
}