.title {
    font-family: 'Roboto Slab';
    font-size: 1.5em;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;

    &:after {
        content: '';
        position: absolute;
        background-color: #fe2d2d;
        width: 55px;
        height: 7px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &._small {
        text-align: inherit;
        font-family: "Roboto Slab";
        font-size: .8rem;
        padding-bottom: 15px;
        margin: 0;
        padding-top: 0;

        &:after {
            content: '';
            position: absolute;
            background-color: #fe2d2d;
            width: 30px;
            height: 3px;
            bottom: 0px;
            left: 0;
            transform: none;
        }
    }

    &._simple {
        font-weight: 500;
    }

    &._program{
        font-size: 1rem;
    }

    @include resp(0, 960) {
        padding-bottom: 15px;
        padding-top: 7px;
    }
}