.title {
    font-family: 'Roboto Slab';
    font-size: 1.5em;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
    &:after {
        content: '';
        position: absolute;
        background-color: #fe2d2d;
        width: 55px;
        height: 7px;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}